#sign-up {
    margin-right: 5%;
    margin-left: 5%;
}

#img1 {
    margin-left: 10%;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


