#division {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

#a112 {
    width: -moz-available;
    margin-right: 2%;
    margin-left: 2%;
}

#a111 {
    width: -webkit-fill-available;
    margin-right: 2%;
    margin-left: 2%;
}

#divisionInvoice {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    font-size: smaller;
    background-color: snow;
}