#division {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

#a111 {
    width: -webkit-fill-available;
    margin-right: 2%;
    margin-left: 2%;
}

#customer_pages {
    margin-right: 25%;
    margin-left: 25%;
}